<div class="contact-modal">
  <div fxLayout="column"
       fxLayoutAlign="space-evenly center"
       fxLayoutGap="2vh">
    <div class="modal-header">
      <h1>Forgot Password?</h1>
    </div>
    <div class="modal-content-div">
      <p>
        No problem. Enter the email address you use to log in. We'll email you your password.
      </p>
    </div>

    <form name="emailForm" class="email-form" [formGroup]="emailForm" (ngSubmit)="emailForm.valid && sendEmail()" novalidate>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error >Must enter valid email address</mat-error>
      </mat-form-field>
      <button class="hidden" #submitButton type="submit">Submit</button>
    </form>

    <div class="modal-actions-div">
      <button mat-button (click)="submitButton.click()">EMAIL</button>
      <button mat-button (click)="closeModal()">CLOSE</button>
    </div>
  </div>
</div>
