<div class="primary-header">
  <h1>Home</h1>
</div>

<div class="page-content">
  <h2>Angular 2 Demo</h2>
  <p>This is an Angular 2 Seed project for a quick start into future projects.</p>
  <h2>Features:</h2>
  <ul>
    <li>Material Design and Theming - Angular Material</li>
    <li>Responsive Design - Flex Layout</li>
    <li>Routing- Angular Router</li>
    <li>Flux State Store - NGRX</li>
    <li>File Upload - ng2-file-upload</li>
    <li>REST Calls - ngx-resource</li>
    <li>Toast Messages - ng2-toastr</li>
    <li>Observables - RXJS</li>
    <li>Unit Tests - Karma/Jasmine</li>
    <li>Data charts - ngx-charts</li>
    <li>Nested Forms - Angular Reactive Forms</li>
    <li>Table with Sorting - Mat Table</li>
    <li>Toolbar and Sidenav</li>
    <li>User profile page</li>
    <li>Authentication and AuthGuard</li>
    <li>Export CSV File Functionality</li>
  </ul>
</div>
