/* Anything that isn't color related goes here */

.login-card {
  margin-top: 2vh;
}

.login-card-head {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.login-form {
  padding-right:8vw;
  padding-left:8vw;
}

h2 {
  text-align: center;
}

.centered {
  text-align: center;
}

.button-div{
  margin-top: 2vh;
}

a {
  text-decoration: none;
  padding-bottom:1vh;
  font-size: small;
}

.option {
  cursor: pointer;
}
